* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style: */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900px;
}
.letter-color {
  color: #fd6e0a;
}

.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18.28px 36px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

/* main style */
header {
  background-color: #fff8f3;
  padding-top: 50px;
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: center left, bottom right;
}

nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid rgb(206, 13, 13); */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 51px;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner {
  /* border: 1px solid red; */
  margin: 46px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content {
  width: 71%;
  max-width: 585px;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600px;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
#banner .banner-image img {
  max-width: 584px;
  max-height: 676px;
  vertical-align: middle;
}

#about,
#skills,
#resume {
  padding-top: 130px;
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff8f3;
  text-align: center;
  padding: 131px 156px;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}

.about-info .info-card h4 {
  font-size: 20px;
  line-height: 30px;
  color: #474747;
}

#skills .skill-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

#skills .skill-container .skill-box {
  display: flex;
  gap: 24px;
}

.skill-box .skill-card {
  padding: 30px;
  max-width: 267px;
  box-shadow: 0 6px 50px 0 #00000034;
}

.skill-card img {
  max-width: 44px;
  margin-bottom: 30px;
}

.skill-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

.skill-card p {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

.resume-container hr {
  margin: 30px 0;
}

#resume .resume-container {
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
}

.resume-container .section-title {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 30px;
}

.resume-card {
  max-width: 511px;
  margin-right: 47px;
}

.resume-card .card-title {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
}
.resume-card .card-info {
  font-size: 20px;
  font-weight: 600px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-card .card-text {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

footer {
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 130px 0;
}

footer .footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 116px;
}

.footer-container .social {
  max-width: 562px;
}

.footer-container h2 {
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-container p {
  color: #474747;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}

.footer-container .icons a {
  margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
  width: 461px;
  padding: 18px 30px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}
